<h1><b>All Threads:</b></h1>

<ol>
@foreach (Thread thread in Model)
{
  <h1>@Html.ActionLink(thread.Title,"Details", new {id = thread.ThreadId})</h1>
  <p>@thread.Body</p>
  <hr>
  <hr>
  <hr>
}

    @* <a href="/Threads/Details/@(thread.ThreadId)"><p>View Details</p></a> *@
    <br>
</ol>

